body {
  background-color: rgba(250, 235, 215, 0.595);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia;
  margin-top: 1.5rem;
}

p, li {
  font-family: Times;
}

a{ 
  color: inherit; 
  text-decoration: none;
} 

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

#photo img{
  float: right;
  width: 400px;
}

header {
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header ul {
  display: flex;
  margin: 0;
  padding: 0;
}

header li {
  list-style-type: none;
  margin: 8px;
  font-weight: 600;
}

header h3 {
  font-size: 26px;
  font-weight: 800;
}

footer {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: red;
}

.skill, .study {
  list-style-type: none;
  display: none;
}

#skill1, #skill2, #skill3, #skill4, #study1, #study2, #study3, #study4, #study5{
  list-style-type: disc;
  font-size: 17px;
}

#skill1:hover, #skill2:hover, #skill3:hover, #skill4:hover, #study1:hover, #study2:hover, #study3:hover, #study4:hover, #study5:hover{
  cursor:pointer;
}

#projects, #aProjects {
  display: none;
}